* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

div.carousel-caption{
    font-size: 50px;
}

.navbar-relinars {
    font-family: "Oswald", sans-serif;
    background-color: transparent;
    color: black !important;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    z-index: 1000; /* Ensure the navbar is above other elements */
}

/* Sticky navbar styling */
.navbar-relinars.sticky {
    font-family: "Oswald", sans-serif;
    background-color: white;
    color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow when sticky */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the sticky navbar is above other elements */

}

.red-line{
    height: 4px;
    background-color: red;
    width: 100%;
}



h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:bold !important; 
    line-height: 1.5 !important;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px !important;
    font-weight: lighter !important;
}

.text-left{
    text-align: left;
}

.hero-container {
    position: relative;
}

.carousel-caption {
    font-family: "Oswald", sans-serif;
    font-size: 62px !important;
    position: absolute;
    top: 40%;
    left: 50%; /* Adjust this value to move it to the right */
    color: white; /* Set text color */
}

@media only screen and (max-width: 767px) {
    .carousel-caption {
        font-size: 40px !important; /* Adjust the font size for smaller screens */
        top: 10%; /* Set top to 0% for smaller screens */
    }
}

.carousel-subtitle{
    font-size: 40px;
}

.component {
    padding: 20px;

}

.about-row{
    padding: 20px;
}

.footer-center{
    text-align: center;
}